/* Стилі для сторінки kvitokindex.html */
@import url('header.css');
@import url('buttons.css');
@import url('main.css');

/* Додаткові стилі для kvitokindex.html */
.kvitok-info {
  max-width: 1100px;
  margin: 60px auto 40px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
  text-align: center;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}
