.info-block {
    max-width: 1100px;
    margin: 600px auto 250px;  /* збільшено відступ від верху */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    text-align: center;
    padding: 0 20px;
    position: relative;
    z-index: 1;
}